# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# Java
*.class
*.log

# OS junk
.DS_Store
Thumbs.db

# Tests / Coverage
out/
bin/
coverage/
jacoco.exec
test-results/

# Logs
hs_err_pid*
replay_pid*

# Temporary
*.swp
*.swo
*.tmp

# Plugin runtime
/plugins/
